/* reset  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */

nav {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
}

nav .menu-icon {
  display: inline-block;
}

nav .search-icon {
  display: inline-block;
}

.space {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;  
}

.space a {
  text-decoration: none;
  color: black;
}

.nav-logo {
  width: 195px;
  height: 25.65px;
  display: inline-block;
  margin: 0 auto;
}

.button1 {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
}

.button2 {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;  
}

/* main */

main {
  margin-top: 50px;
}

.first-title h1 {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 40px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 20px;
}

.first-image {
  width: 945px;
  height: 532px;
  margin: 0 auto;
  cursor: pointer;
}

.first-image img {
  width: 100%;
}

figcaption {
  color: #666;
  font-size: 15px;
  line-height: 1.25rem;
  margin: 0 auto;
  margin-right: 7px;
  display: block;
}

figcaption small {
  color: #888;
}

.big-first-container {
  display: block;
  width: 100%;
  height: 70px;
  position: relative;
  top: 100px;
}
.first-container {
  width: 600px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.author {
  color: #333;
  margin-bottom: 15px;
}

a.author {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

ul.links {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

p.date {
  display: inline-block;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 13px;
  color: #333;
}

li.social-media {
  list-style: none;
  display: inline-block;
  margin: 0 16px 0 0;
  position: relative;
  left: 40%;
}

.circle {
  background-color: rgb(160, 157, 157);
  border: 1px solid  rgb(160, 157, 157);
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
}

article.text-section {
  width: 100%;
  position: relative;
  top: 120px;
}

p.text {
  font-size: 20px;
  line-height: 1.875rem;
  margin: 0 auto 15px;
  width: 600px;
  color: #333;
}
/* footer */




