/* reset  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */

nav {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
}

nav .menu-icon {
  display: inline-block;
}

nav .search-icon {
  display: inline-block;
}

.space {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;  
}

.space a {
  text-decoration: none;
  color: black;
}

.nav-logo {
  width: 195px;
  height: 25.65px;
  display: inline-block;
  margin: 0 auto;
}

.button1 {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
}

.button2 {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;  
}

/* main */

main {
  margin-top: 50px;
}

.first-title h1 {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 40px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 20px;
}

.first-image {
  width: 945px;
  height: 532px;
  margin: 0 auto;
  cursor: pointer;
}

.first-image img {
  width: 100%;
}

figcaption {
  color: #666;
  font-size: 15px;
  line-height: 1.25rem;
  margin: 0 auto;
  margin-right: 7px;
  display: block;
}

figcaption small {
  color: #888;
}

.big-first-container {
  display: block;
  width: 100%;
  height: 70px;
  position: relative;
  top: 100px;
}
.first-container {
  width: 600px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.author {
  color: #333;
  margin-bottom: 15px;
}

a.author {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

ul.links {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

p.date {
  display: inline-block;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 13px;
  color: #333;
}

li.social-media {
  list-style: none;
  display: inline-block;
  margin: 0 16px 0 0;
  position: relative;
  left: 40%;
}

.circle {
  background-color: rgb(160, 157, 157);
  border: 1px solid  rgb(160, 157, 157);
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
}

article.text-section {
  width: 100%;
  position: relative;
  top: 120px;
  margin-bottom: 16px;
}

p.text {
  font-size: 20px;
  line-height: 1.875rem;
  margin: 0 auto 15px;
  width: 600px;
  color: #333;
}

p.text a {
  color: #326891;
}

.mini-section {
  box-sizing: border-box;
  max-width: 600px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  margin: 25px auto;
  height: 76px;
  border-top: rgb(192, 190, 190) 1px solid;
  border-bottom: rgb(192, 190, 190) 1px solid;
}

.mini-section li,
.mini-section a {
  position: relative;
  top: 15px;
}

.mini-section a {
  color: #326891;
  text-decoration: none;
}
/* aside */
aside.first-aside {
  float: right;
  width: 210px;
  margin-right: 0;
  margin-left: 75px;
  display: flex;
  align-items: center;
}

button.aside-button {
  color: rgb(255, 255, 255);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  width: 180px;
  height: 35px;
  background: rgb(98, 136, 165);
  border: 1px solid rgb(98, 136, 165);
  border-radius: 4px;
  box-sizing: border-box;
}

h2.aside-title {
  font-size: 18px;
  line-height: 1.5rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 5px;
  width: 180px;
}

p.aside-text {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1rem;
  color: rgb(102, 102, 102);
  width: 180px;
  margin-bottom: 10px;
}

/* second aside */

aside.second-aside {
  width: 210px;
  margin: 0 0 0 75px;
  float: right;
}

h2.title-two {
  color: #000;
  font-size: 14px;
  margin: 0 0 15px;
  padding: 0 0 12px;
  border-bottom: rgb(192, 190, 190) 1px solid;
}

.aside-photo {
  width: 75px;
  height: 75px;
}

.aside-photo img {
  width: 100%;
}

h3.article-title {
  font-size: 14px;
  line-height: 17px;
  color: #333;
  margin: 5px 0 5px 10px;
  font-weight: 500;
  font-family: nyt-cheltenham-small, georgia, "times new roman";
  display: block;
  width: 125px;
}

a.link-photo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-bottom: 15px;
}

a.link-photo:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #000;
}
/* second container */
.second-container {
  width: 100%;
  display: block;
  position: relative;
  top: 150px;
}

header.second-title {
  width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  color: #000;
  font-size: 16px;
  margin: 0 0 2px;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  width: 945px;
}

p.inflation-text {
  margin-right: 7px;
  width: 910px;
  color: #666;
  font: 14px nyt-cheltenham,georgia,times new roman,times,serif;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal
}
.image-container {
  width: 945px; 
  height: 576px;
  margin-right: auto;
  margin-left: auto;
}

.image-container img {
  width: 100%; 
}
/* footer */




